@model MyWebApplication.Models.CreateModel
@{
    ViewBag.Title = "Cerco Vendo Casa: Inserimento di un nuovo immobile - Step 2";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Inserimento annuncio (Step 2)</h2>

@Html.Partial("_MyValidationSummary", ViewData.ModelState)


@using (Html.BeginForm("Preview", "Immobiliare", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)




<h3>Note</h3>

<div data-role="fieldcontain">
    <textarea name="immobile.nota" id="nota">@Model.immobile.nota</textarea>
</div>



<h3>Mappa</h3>
<p>L'inserimento del campo "Indirizzo" consente di posizionare l'immobile su una mappa.</p>

<p>
    Se per qualche motivo non desideri geolocalizzare il tuo immobile, non valorizzare il campo Indirizzo.
</p>


<p>
    Prova a digitare l indirizzo, ad esempio "Via Mario Rossi" oppure "Piazza Verdi" e <b>clicca su Cerca su GoogleMaps</b>. Se la geolocalizzazione è corretta
    clicca su "Avanti" altrimenti correggi o cancella la mappa.
</p>
<p>
    Nel caso di vie molto lunghe, è possibile spostare il punto sulla mappa, aggiungingendo il numero civico.
    Esempio "Via Mario Rossi 45".
</p>
<p>
    Per questione di privacy, non è consigliato inserire il numero civico corretto, basta inserirne uno nelle vicinanze.
</p>




<input type="hidden" name="immobile.regioneId" value="@Model.immobile.regioneId" />
<input type="hidden" name="immobile.provinciaId" value="@Model.immobile.provinciaId" />
<input type="hidden" name="immobile.comuneId" value="@Model.immobile.comuneId" />

<input type="hidden" name="immobile.regione" value="@Model.immobile.regione" />
<input type="hidden" name="immobile.provincia" value="@Model.immobile.provincia" />
<input type="hidden" name="immobile.comune" value="@Model.immobile.comune" />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="regione">Regione:</label>
            <input type="text" class="form-control" id="regione" value="@Model.immobile.regione" disabled="disabled" readonly="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="provincia">Provincia:</label>
            <input type="text" class="form-control" id="provincia" value="@Model.immobile.provincia" disabled="disabled" readonly="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="comune">Comune:</label>
            <input type="text" class="form-control" id="comune" value="@Model.immobile.comune" disabled="disabled" readonly="">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="cap">C.A.P.:</label>
            <input type="text" class="form-control" name="immobile.cap" id="cap" value="@Model.immobile.cap">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="indirizzo">Zona/Quartiere:</label>
            <input type="text" class="form-control" name="immobile.quartiere" id="quartiere" value="@Model.immobile.quartiere">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="indirizzo">Indirizzo:</label>
            <input type="text" class="form-control" name="immobile.indirizzo" id="indirizzo" value="@Model.immobile.indirizzo">
        </div>
    </div>
</div>

<input type="button" class="btn btn-secondary" value="Elimina la mappa" onclick="removeAddress()" />
<input type="button" class="btn btn-primary" value="Cerca su GoogleMaps" onclick="searchAddress()" />


<br />
<div id="map_canvas" class="mt-3" style="width: 100%; height: 300px"></div>
<br />


<input type="button" class="btn btn-secondary" onclick="indietroOnClick()" value="Indietro" />
<input type="button" class="btn btn-primary" onclick="avantiOnClick()" value="Anvanti" />


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        encoding: "xml"
    });
</script>


<input type="hidden" name="immobile.latitude" id="latitude" value="@Model.immobile.latitude" />
<input type="hidden" name="immobile.longitude" id="longitude" value="@Model.immobile.longitude" />


<input type="hidden" name="immobile.categoria" value="@Model.immobile.categoria" />
<input type="hidden" name="immobile.immobile" value="@Model.immobile.immobile" />
<input type="hidden" name="immobile.MQ" value="@Model.immobile.MQ" />
<input type="hidden" name="immobile.prezzo" value="@Model.immobile.prezzo" />
<input type="hidden" name="immobile.classeEnergetica" value="@Model.immobile.classeEnergetica" />
<input type="hidden" name="immobile.piano" value="@Model.immobile.piano" />
<input type="hidden" name="immobile.pianiTotali" value="@Model.immobile.pianiTotali" />
<input type="hidden" name="immobile.ascensore" value="@Model.immobile.ascensore" />
<input type="hidden" name="immobile.anno" value="@Model.immobile.anno" />
<input type="hidden" name="immobile.speseCondominiali" value="@Model.immobile.speseCondominiali" />
<input type="hidden" name="immobile.portiere" value="@Model.immobile.portiere" />
<input type="hidden" name="immobile.statoImmobile" value="@Model.immobile.statoImmobile" />
<input type="hidden" name="immobile.occupazione" value="@Model.immobile.occupazione" />

<input type="hidden" name="immobile.cucina" value="@Model.immobile.cucina" />
<input type="hidden" name="immobile.salone" value="@Model.immobile.salone" />
<input type="hidden" name="immobile.camereDaLetto" value="@Model.immobile.camereDaLetto" />
<input type="hidden" name="immobile.camerette" value="@Model.immobile.camerette" />
<input type="hidden" name="immobile.bagni" value="@Model.immobile.bagni" />
<input type="hidden" name="immobile.terrazzi" value="@Model.immobile.terrazzi" />
<input type="hidden" name="immobile.balconi" value="@Model.immobile.balconi" />
<input type="hidden" name="immobile.giardinoMq" value="@Model.immobile.giardinoMq" />
<input type="hidden" name="immobile.cantina" value="@Model.immobile.cantina" />
<input type="hidden" name="immobile.soffitta" value="@Model.immobile.soffitta" />
<input type="hidden" name="immobile.postoAuto" value="@Model.immobile.postoAuto" />
<input type="hidden" name="immobile.box" value="@Model.immobile.box" />
<input type="hidden" name="immobile.riscaldamento" value="@Model.immobile.riscaldamento" />
<input type="hidden" name="immobile.climatizzato" value="@Model.immobile.climatizzato" />

}




<script async defer src="https://maps.googleapis.com/maps/api/js?key=@Annunci.Immobiliare.ImmobiliareSecurityManager.Decrypt(System.Configuration.ConfigurationManager.AppSettings["maps.googleapis.key"])&callback=initMap" type="text/javascript"></script>

<script type="text/javascript">


    function indietroOnClick() {
        console.log("indietroOnClick");
        $("#MyForm").attr('action', '@Url.Action("Create")');
        $("#MyForm").attr("method", "get");
        $("#MyForm").submit();
    }

    function avantiOnClick() {
        console.log("avantiOnClick");
        $("#MyForm").submit();
    }

    var geocoder = null;
    var map = null;
    var address = null;


    function removeAddress() {
        document.getElementById("indirizzo").value = '';
        document.getElementById("map_canvas").style.visibility = 'hidden';
        address = null;
    }


    function searchAddress() {
        console.log("searchAddress");
        address = document.getElementById("indirizzo").value;

        if ((address == null) || (address == "")) {
            return 0;
        }
        address = address + ", " + document.getElementById('regione').value + ", " + document.getElementById('provincia').value + ", " + document.getElementById('comune').value;
        console.log("address: " + address);

        document.getElementById("map_canvas").style.visibility = '';
        initMap();
    }



    function initMap() {

        //alert('address:' + address);


        if ((address == null) || (address == "")) {
            return 0;
        }

        //                        if (map != null) {
        //                            return 0;
        //                        }

        //alert('init');

        var myOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            console.log("status", status);
            console.log("results", results);

            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                console.log("Latitudine:" + results[0].geometry.location.lat());
                console.log("Longitude :" + results[0].geometry.location.lng());

                let temp = results[0].geometry.location.lat();
                temp = temp.toString().replace(".", ",");
                console.log("temp: " + temp);
                $("#latitude").val(temp);

                temp = results[0].geometry.location.lng();
                temp = temp.toString().replace(".", ",");
                console.log("temp: " + temp);
                $("#longitude").val(temp);
                console.log("done");
            } else {
                alert("Geolocalizzazione NON riuscita per il seguente motivo: " + status);
            }
        });


    }
</script>
