@model Annunci.Models.Immobile
@{
    ViewBag.Title = "Cerco Vendo Casa: Inserimento di un nuovo immobile - Step 2";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Inserimento annuncio (Step 2)</h2>

@Html.Partial("_MyValidationSummary", ViewData.ModelState)


@using (Html.BeginForm("Preview", "Immobiliare", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)




    <h3>Note</h3>

    <div data-role="fieldcontain">
        <textarea name="nota" id="nota">@Model.nota</textarea>
    </div>



    <h3>Mappa</h3>
    <p>L'inserimento del campo "Indirizzo" consente di posizionare l'immobile su una mappa.</p>

    <p>
        Se per qualche motivo non desideri geolocalizzare il tuo immobile, non valorizzare il campo Indirizzo.
    </p>


    <p>
        Prova a digitare l indirizzo, ad esempio "Via Mario Rossi" oppure "Piazza Verdi" e <b>clicca su Cerca su GoogleMaps</b>. Se la geolocalizzazione è corretta
        clicca su "Avanti" altrimenti correggi o cancella la mappa.
    </p>
    <p>
        Nel caso di vie molto lunghe, è possibile spostare il punto sulla mappa, aggiungingendo il numero civico.
        Esempio "Via Mario Rossi 45".
    </p>
    <p>
        Per questione di privacy, non è consigliato inserire il numero civico corretto, basta inserirne uno nelle vicinanze.
    </p>




    <input type="hidden" name="regioneId" value="@Model.regioneId" />
    <input type="hidden" name="provinciaId" value="@Model.provinciaId" />
    <input type="hidden" name="comuneId" value="@Model.comuneId" />

    <input type="hidden" name="regione" value="@Model.regione" />
    <input type="hidden" name="provincia" value="@Model.provincia" />
    <input type="hidden" name="comune" value="@Model.comune" />

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="regione">Regione:</label>
                <input type="text" class="form-control" id="regione" value="@Model.regione" disabled="disabled" readonly="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <input type="text" class="form-control" id="provincia" value="@Model.provincia" disabled="disabled" readonly="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="comune">Comune:</label>
                <input type="text" class="form-control" id="comune" value="@Model.comune" disabled="disabled" readonly="">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cap">C.A.P.:</label>
                <input type="text" class="form-control" name="cap" id="cap" value="@Model.cap">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="indirizzo">Zona/Quartiere:</label>
                <input type="text" class="form-control" name="quartiere" id="quartiere" value="@Model.quartiere">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="indirizzo">Indirizzo:</label>
                <input type="text" class="form-control" name="indirizzo" id="indirizzo" value="@Model.indirizzo">
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-secondary" value="Elimina la mappa" onclick="removeAddress()" />
    <input type="button" class="btn btn-primary" value="Cerca su GoogleMaps" onclick="searchAddress()" />


        <br />
            <div id="map_canvas" class="mt-3" style="width: 100%; height: 300px"></div>
            <br />


            <input type="submit" class="btn btn-secondary" name="MyAction" value="Indietro" />
            <input type="submit" class="btn btn-primary" name="MyAction" value="Avanti" />






            <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
            <script type="text/javascript">
                tinymce.init({
                    selector: "textarea",
                    encoding: "xml"
                });
            </script>


            <input type="hidden" name="latitude" id="latitude" value="@Model.latitude" />
            <input type="hidden" name="longitude" id="longitude" value="@Model.longitude" />


            <input type="hidden" name="categoria" value="@Model.categoria" />
            <input type="hidden" name="immobile" value="@Model.immobile" />
            <input type="hidden" name="MQ" value="@Model.MQ" />
            <input type="hidden" name="prezzo" value="@Model.prezzo" />
            <input type="hidden" name="classeEnergetica" value="@Model.classeEnergetica" />
            <input type="hidden" name="piano" value="@Model.piano" />
            <input type="hidden" name="pianiTotali" value="@Model.pianiTotali" />
            <input type="hidden" name="ascensore" value="@Model.ascensore" />
            <input type="hidden" name="anno" value="@Model.anno" />
            <input type="hidden" name="speseCondominiali" value="@Model.speseCondominiali" />
            <input type="hidden" name="portiere" value="@Model.portiere" />
            <input type="hidden" name="statoImmobile" value="@Model.statoImmobile" />
            <input type="hidden" name="occupazione" value="@Model.occupazione" />

            <input type="hidden" name="cucina" value="@Model.cucina" />
            <input type="hidden" name="salone" value="@Model.salone" />
            <input type="hidden" name="camereDaLetto" value="@Model.camereDaLetto" />
            <input type="hidden" name="camerette" value="@Model.camerette" />
            <input type="hidden" name="bagni" value="@Model.bagni" />
            <input type="hidden" name="terrazzi" value="@Model.terrazzi" />
            <input type="hidden" name="balconi" value="@Model.balconi" />
            <input type="hidden" name="giardinoMq" value="@Model.giardinoMq" />
            <input type="hidden" name="cantina" value="@Model.cantina" />
            <input type="hidden" name="soffitta" value="@Model.soffitta" />
            <input type="hidden" name="postoAuto" value="@Model.postoAuto" />
            <input type="hidden" name="box" value="@Model.box" />
            <input type="hidden" name="riscaldamento" value="@Model.riscaldamento" />
            <input type="hidden" name="climatizzato" value="@Model.climatizzato" />

}




<script async defer src="https://maps.googleapis.com/maps/api/js?key=@Annunci.Immobiliare.ImmobiliareSecurityManager.Decrypt(System.Configuration.ConfigurationManager.AppSettings["maps.googleapis.key"])&callback=initMap" type="text/javascript"></script>

<script type="text/javascript">

    var geocoder = null;
    var map = null;
    var address = null;

    function removeAddress() {
        document.getElementById("indirizzo").value = '';
        document.getElementById("map_canvas").style.visibility = 'hidden';
        address = null;
    }


    function searchAddress() {
        console.log("searchAddress");
        address = document.getElementById("indirizzo").value;

        if ((address == null) || (address == "")) {
            return 0;
        }
        address = address + ", " + document.getElementById('regione').value + ", " + document.getElementById('provincia').value + ", " + document.getElementById('comune').value;
        console.log("address: " + address);

        document.getElementById("map_canvas").style.visibility = '';
        initMap();
    }



    function initMap() {

        //alert('address:' + address);


        if ((address == null) || (address == "")) {
            return 0;
        }

        //                        if (map != null) {
        //                            return 0;
        //                        }

        //alert('init');

        var myOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            console.log("status", status);
            console.log("results", results);

            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                console.log("Latitudine:" + results[0].geometry.location.lat());
                console.log("Longitude :" + results[0].geometry.location.lng());

                let temp = results[0].geometry.location.lat();
                temp = temp.toString().replace(".", ",");
                console.log("temp: " + temp);
                $("#latitude").val(temp);

                temp = results[0].geometry.location.lng();
                temp = temp.toString().replace(".", ",");
                console.log("temp: " + temp);
                $("#longitude").val(temp);
                console.log("done");
            } else {
                alert("Geolocalizzazione NON riuscita per il seguente motivo: " + status);
            }
        });


    }
</script>
