@model MyWebApplication.Models.CreateModel

@{
    ViewBag.Title = "Cerco Vendo Casa: Inserimento di un nuovo immobile - Step 1";
    ViewBag.Description = "Cerco-Vendo-Casa ti offre la possibilità di vendere, comprare, affittare, scambiare casa nel pieno rispetto della tutela dei dati presentati";
    ViewBag.Keywords = "cerco casa, vendo casa, annunci immobiliari, affitto casa, vendo immobile, cerco immbile, vendo appartamento";

    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Nuovo annuncio</h2>


<p>
    Compila la maschera sottostante per l'inserimento di un nuovo annuncio.
</p>

<p>
    I campi con * sono obbligatori.
</p>

<p>
    Al termine della procedura riceverai un messaggio al tuo indirizzo email con i dai inseirti.
</p>
<p>
    <b>Dopo</b> aver concluso la procedura guidata potrai aggiungere delle <b>immagini</b>
    cliccado sul relativo annuncio dal menu "I miei annunci".
    <img src="@Url.Content("~/Content/Images/shared/photo1_48x48.png")" border="0" alt="photo" />

</p>


@Html.Partial("_MyValidationSummary", ViewData.ModelState)


@using (Html.BeginForm("Create", "Immobiliare", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()

    <h3>Informazioni generali</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="categoria">Categoria*:</label>
                @MyHelper.getComboEnum(default(Annunci.Models.Immobile.Categorie), Model.immobile.categoria.ToString(), "categoria", "immobile.categoria", true)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="immobile">Tipo di immobile*:</label>
                @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoImmobile), Model.immobile.immobile.ToString(), "immobile", "immobile.immobile", true)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="MQ">MQ*:</label>
                <div class="input-group">
                    <input type="range" class="form-control custom-range" id="mqCurrentSliderVal" value="@Model.immobile.MQ" min="0" max="1000" step="10" onchange="updateTextInput('#MQ', this.value);">
                    <div class="input-group-prepend">
                        <input class="input-group-text" style="width:5em" name="immobile.MQ" id="MQ" type="text" value="@Model.immobile.MQ" onchange="updateRange('#mqCurrentSliderVal', this.value);" />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="prezzo">Prezzo €*:</label>
                <input type="number" class="form-control" name="immobile.prezzo" id="prezzo" value="@Model.immobile.prezzo" required>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label for="comboRegione">Regione*</label>
                <select class="form-control mb-3" id="comboRegione" name="immobile.regioneId">
                    <option value="">---</option>
                    @foreach (MyManagerCSharp.Models.MyItem item in Model.comboRegioni)
                    {
                        <option value="@item.Value" @(item.Value == Model.immobile.regioneId.ToString() ? "selected" : "")>@item.Text</option>
                    }
                </select>
                <input type="hidden" id="regione" name="immobile.regione" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="comboProvincia">Provincia*</label>
                <select class="form-control mb-3" id="comboProvincia" name="immobile.provinciaId">
                    <option value="">---</option>
                    @foreach (MyManagerCSharp.Models.MyItem item in Model.comboProvince)
                    {
                        <option value="@item.Value" @(item.Value == Model.immobile.provinciaId ? "selected" : "")>@item.Text</option>
                    }
                </select>
                <input type="hidden" id="provincia" name="immobile.provincia" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="comboComune">Comune*</label>
                <select class="form-control mb-3" id="comboComune" name="immobile.comuneId">
                    <option value="">---</option>
                    @foreach (MyManagerCSharp.Models.MyItem item in Model.comboComuni)
                    {
                        <option value="@item.Value" @(item.Value == Model.immobile.comuneId ? "selected" : "")>@item.Text</option>
                    }
                </select>
                <input type="hidden" id="comune" name="immobile.comune" />
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="classeEnergetica">Classe energetica:</label>
                @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoClasseEnergetica), Model.immobile.classeEnergetica.ToString(), "classeEnergetica", "immobile.classeEnergetica", false)
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="anno">Anno di costruzione:</label>
                <input type="number" class="form-control" name="immobile.anno" id="anno" value="@Model.immobile.anno">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="speseCondominiali">Spese condominiali mensili €:</label>
                <input type="number" class="form-control" name="immobile.speseCondominiali" id="speseCondominiali" value="@Model.immobile.speseCondominiali">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="piano">Piano:</label>
                <input type="number" class="form-control" name="immobile.piano" id="piano" value="@Model.immobile.piano">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="pianiTotali">Totale piani dell'edificio:</label>
                <input type="number" class="form-control" name="immobile.pianiTotali" id="pianiTotali" value="@Model.immobile.pianiTotali">
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Portiere:</label>
                @MyHelper.getComboSiNo(Model.immobile.portiere.ToString(), "portiere", "immobile.portiere", false)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Ascensore</label>
                @MyHelper.getComboSiNo(Model.immobile.ascensore.ToString(), "ascensore", "immobile.ascensore", false)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Cantina</label>
                @MyHelper.getComboSiNo(Model.immobile.cantina.ToString(), "cantina", "immobile.cantina", false)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Soffitta</label>
                @MyHelper.getComboSiNo(Model.immobile.soffitta.ToString(), "soffitta", "immobile.soffitta", false)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Climatizzato</label>
                @MyHelper.getComboSiNo(Model.immobile.climatizzato.ToString(), "climatizzato", "immobile.climatizzato", false)
            </div>
        </div>
    </div>

    <h3>Dettaglio appartamento</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="statoImmobile">Stato:</label>
                @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoStatoImmobile), Model.immobile.statoImmobile.ToString(), "statoImmobile", "immobile.statoImmobile", false)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="occupazione">Occupazione:</label>
                @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoOccupazione), Model.immobile.occupazione.ToString(), "occupazione", "immobile.occupazione", false)
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="camereDaLetto">Camere da letto:</label>
                @MyHelper.getComboNumeroStanze(Model.immobile.camereDaLetto.ToString(), "camereDaLetto", "immobile.camereDaLetto", false)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="camerette">Camerette:</label>
                @MyHelper.getComboNumeroStanze(Model.immobile.camerette.ToString(), "camerette", "immobile.camerette", false)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="bagni">Bagni:</label>
                @MyHelper.getComboNumeroStanze(Model.immobile.bagni.ToString(), "bagni", "immobile.bagni", false)
            </div>
        </div>
    </div>





            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="terrazzi">Terrazzi:</label>
                        @MyHelper.getComboNumeroStanze(Model.immobile.terrazzi.ToString(), "terrazzi", "immobile.terrazzi", false)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="balconi">Balconi:</label>
                        @MyHelper.getComboNumeroStanze(Model.immobile.balconi.ToString(), "balconi", "immobile.balconi", false)

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cucina">Cucina:</label>
                        @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoCucina), Model.immobile.cucina.ToString(), "cucina", "immobile.cucina", false)
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="salone">Salone:</label>
                        @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoSalone), Model.immobile.salone.ToString(), "salone", "immobile.salone", false)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="postoAuto">Posto auto:</label>
                        @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoPostoAuto), Model.immobile.postoAuto.ToString(), "postoAuto", "immobile.postoAuto", false)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="box">Box:</label>
                        @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoBoxAuto), Model.immobile.box.ToString(), "box", "immobile.box", false)
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="riscaldamento">Riscaldamento:</label>
                        @MyHelper.getComboEnum(default(Annunci.Models.Immobile.TipoRiscaldamento), Model.immobile.riscaldamento.ToString(), "riscaldamento", "immobile.riscaldamento", false)
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label for="MQ">Giardino mq:</label>
                        <div class="input-group">
                            <input type="range" class="form-control custom-range" name="immobile.giardinoMq" id="giardinoMq" value="@Model.immobile.giardinoMq" min="0" max="1000" step="10" onchange="updateTextInput('#giardinoMqCurrentSliderValLabel', this.value);">
                            <div class="input-group-prepend">
                                <input class="input-group-text" style="width:5em" type="text" id="giardinoMqCurrentSliderValLabel" value="@Model.immobile.giardinoMq" onchange="updateRange('#giardinoMq', this.value);" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <a class="btn btn-secondary" href="@Url.Action("MyAnnunci")" role="button">Annulla</a>
            <button type="button" class="btn btn-primary" onclick="buttonSalvaOnClick()">Avanti</button>

}

@Html.Partial("_ComboRegioneProvinciaComune")

<script type="text/javascript">

    function updateTextInput(myId, value) {
        //document.getElementById('giardinoMqCurrentSliderValLabel').text = val;
        $(myId).val(value);
    }

    function updateRange(myId, value) {
        //document.getElementById('giardinoMqCurrentSliderValLabel').text = val;
        $(myId).val(value);
    }

    $(document).ready(function () {
        $("#comboRegione").on("change", comboRegioneOnChange);
        $("#comboProvincia").on("change", comboProvinciaOnChange);

        /*
        $("#MQ").oninput = function () {
            console.log("" + this.value);
            $("#mqCurrentSliderVal").innerHTML = this.value;
        }*/


        /*$("#giardinoMq").slider({ tooltip: 'always' });
        $("#giardinoMq").on("slide", function (slideEvt) {
            $("#giardinoMqCurrentSliderValLabel").text(slideEvt.value);
        });*/

        /*
        $('#giardinoMq').slider({
            formatter: function (value) {
                console.log('Current value: ' + value);
                return 'Current value: ' + value;
            }
        });*/

    });



    function buttonSalvaOnClick() {
        console.log("buttonSalvaOnClick");
        let check = true;

        if (check === false) {
            return;
        }

        let selectedText;
        if ($("#comboRegione").val() !== '') {
            selectedText = $("#comboRegione").find(":selected").text();
            $("#regione").val(selectedText);

        }

        if ($("#comboProvincia").val() !== '') {
            selectedText = $("#comboProvincia").find(":selected").text();
            $("#provincia").val(selectedText);
        }

        if ($("#comboComune").val() !== '') {
            selectedText = $("#comboComune").find(":selected").text();
            $("#comune").val(selectedText);
        }



        $("form").submit();
    }

</script>
