@model Annunci.Models.Immobile
@{
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
    ViewBag.Keywords = "cerco casa, vendo casa, annunci immobiliari";
}

Tipo : @ViewData["Tipo"]
Id : @ViewData["MyId"]



@if (ViewData["Tipo"] == "Annuncio")
{
    <h1>Cancellazione annuncio</h1>

    <p>Confermare la cancellazione per l'annuncio: <b>@Model.immobile</b></p>

}


@if (ViewData["Tipo"] == "Trattativa")
{
    <h1>Cancellazione trattativa</h1>
    <p>La cancellazione di una trattativa prevede l'invio di un'email di notifica al secondo utente della compravendita.</p>

}
<br />

<p>Le seguenti informazioni NON verrano inviate all'utente ma rimarranno nel sistema per scopi statistici.</p>


@using (Html.BeginForm("DeleteExecute", "Immobiliare", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()



    <p>
        Specificare il motivo della cancellazione:
        <select id="causale" name="causale">
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Undefined">---</option>
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Oggetto_non_piu_disponibile">Oggetto della compravendita non più disponibile</option>
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Concluso_con_successo">Compravendita conclusa correttamente</option>
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Altro">Altro - inserire eventuali note</option>
        </select>
    </p>

    <br />


    <input type="hidden" name="MyId" value=" @ViewData["MyId"] " />
    <input type="hidden" name="Tipo" value=" @ViewData["Tipo"] " />


    <h2>Note aggiuntive</h2>
    <textarea name="nota"></textarea>

    <br />


    <a class="btn btn-secondary" href="@Url.Action("MyAnnunci", "Immobiliare")">Torna all'elenco dei tuoi annunci</a>

        if (ViewData["Tipo"] == "Annuncio")
        {
            <a class="btn btn-secondary" href="@Url.Action("MyAnnuncio", "Immobiliare", new { id = ViewData["MyId"] })" >Torna all'annuncio</a>
        }


        <button type="submit" class="btn btn-primary"><i class="fa fa-trash fa-fw"></i>Conferma</button>


}





<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea"
    });
</script>
