@model Annunci.Models.Immobile

@{
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["maps.googleapis.key"]&v=3.12&amp;sensor=false&region=IT"></script>


<script src="@Url.Content("~/Scripts/lightbox-2.6.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Style/lightbox.css")" />


<style type="text/css">
    #Gallery {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #Gallery:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
        }

        #Gallery li {
            float: left;
        }

            #Gallery li a {
                display: block;
                margin: 5px;
            }

            #Gallery li img {
                display: block;
                border: 1px solid #3c3c3c;
            }
</style>



<script>

    var map = null;

    $(document).on("pageinit", function () {
        $("#tabs").tabs();

        @if (Model.latitude > 0)
        {

            @:$("#ui-id-3").on("click" , function(){

                    @:if(map == null){
                                        //@:alert("show");

                        @:var center = new google.maps.LatLng(@Model.latitude.ToString().Replace(",", ".") , @Model.longitude.ToString().Replace(",", "."));

                        @:map = new google.maps.Map(document.getElementById('map-container'), {  zoom: 17,      center: center,      mapTypeId: google.maps.MapTypeId.ROADMAP });

                        @:var latLng = new google.maps.LatLng(@Model.latitude.ToString().Replace(",", "."), @Model.longitude.ToString().Replace(",", "."));

                        @:var marker = new google.maps.Marker({  position: latLng,  map: map,  icon: "/Content/Images/Immobiliare/casa.gif",    title: "@MyHelper.getTitoloImmobile(Model)"    });

                    @:}

            @:});

        }
        else
        {
            // @:$("#ui-id-3").hide();
        }




    });


</script>

<h2>Dettaglio immobile</h2>


<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"><a href="#tabs-1" id="info-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="info" aria-selected="true">Info</a></li>
    <li class="nav-item"><a href="#tabs-2" id="descrizione-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="descrizione" aria-selected="false">Descrizione</a></li>
    <li class="nav-item"><a href="#tabs-3" id="mappa-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="mappa" aria-selected="false">Mappa</a></li>
    <li class="nav-item"><a href="#tabs-4" id="photo-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="photo" aria-selected="false">Photo</a></li>
</ul>



<!-- Tab panes -->
<div class="tab-content mb-3 mt-3">


    <div id="tabs-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">

        @{Html.RenderPartial("TabInfoImmobile", Model);}
    </div>



    <div id="tabs-2" class="tab-pane fade" role="tabpanel" aria-labelledby="descrizione-tab">

        @if (String.IsNullOrEmpty(Model.nota))
        {
            <p>Descrizione non disponibile</p>
        }
        else
        {
            <div class="jumbotron">
                <blockquote>@Html.Raw(WebUtility.HtmlDecode(Model.nota))</blockquote>
            </div>
        }
    </div>




    <div id="tabs-3" class="tab-pane fade" role="tabpanel" aria-labelledby="mappa-tab">
        @if (Model.latitude == 0)
        {
            <p>Mappa non disponibile</p>
        }
        else
        {
            <div id="map-container" style="margin-top: 20px; width: 100%; height: 500px;">
            </div>
        }


    </div>



    <div id="tabs-4" class="tab-pane fade" role="tabpanel" aria-labelledby="photo-tab">
        @if (ViewBag.photos == null || (ViewBag.photos as List<Annunci.Models.MyPhoto>).Count == 0)
        {
            <p>Immagini non disponibili</p>
        }
        else
        {
            <ul id="Gallery">

                @foreach (Annunci.Models.MyPhoto p in ViewBag.photos)
                {

                    if (p.Path.StartsWith("http:"))
                    {
                        <li>
                            <a href="@p.Path" data-lightbox="gallery" title="@p.Note ">
                                <img src="@p.Path" alt="@p.Note" width="@MyWebApplication.Controllers.ImmobiliareController.WidthThumbnail" height="@MyWebApplication.Controllers.ImmobiliareController.HeightThumbnail" />
                            </a>
                        </li>
                    }

                    else
                    {
                        FileInfo myFile = new FileInfo(Server.MapPath(p.Path));

                        if (!myFile.Exists)
                        {
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~\\Content\\Images\\Shared\\unavailable.jpg")" alt="Immagine non disponibile" width="@MyWebApplication.Controllers.ImmobiliareController.WidthThumbnail" height="@MyWebApplication.Controllers.ImmobiliareController.HeightThumbnail" />
                                </a>
                            </li>


                        }
                        else
                        {

                            System.Diagnostics.Debug.WriteLine("File Name: " + System.IO.Path.GetFileName(p.Path));
                            System.Diagnostics.Debug.WriteLine("Directory Name: " + System.IO.Path.GetDirectoryName(p.Path));


                            string thumbnail;
                            thumbnail = System.IO.Path.GetDirectoryName(p.Path) + "\\thumbnail_" + myFile.Name;

                            if (!System.IO.File.Exists(Server.MapPath(thumbnail)))
                            {
                                System.Diagnostics.Debug.WriteLine("NON esiste: " + thumbnail);
                                //lo creo al volo
                                thumbnail = String.Format("\\Thumbnail\\Image?id={0}", HttpUtility.UrlEncode(p.Path));
                            }
                            else
                            {
                                thumbnail = thumbnail.Replace("~", "");
                            }


                            System.Diagnostics.Debug.WriteLine("thumbnail: " + thumbnail);



                            <li>
                                <a href="@p.Path.Replace("~", "")" data-lightbox="gallery">
                                    <img src="@thumbnail " alt="@p.Note" />
                                </a>
                            </li>
                        }
                    }

                }

            </ul>
        }

    </div>

</div>



<p>
    Se sei interessato a questo annuncio clicca su "Rispondi" per mandare un un messaggio all'inserzionista.
</p>


<br />

<a class="btn btn-secondary" href="@Url.Action("Index", "Immobiliare")"> <i class="fa fa-search fa-fw"></i> Pagina di ricerca</a>
<a class="btn btn-primary text-right" href="@Url.Action("Reply", "Immobiliare", new { annuncioId = Model.immobileId })"><i class="fa fa-pencil-alt fa-fw"></i>Rispondi</a>


