@{
    ViewBag.Title = "Operazione conclusa con successo";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Operazione conclusa con successo</h2>



<img style="display:block; margin-left:auto; margin-right:auto;" src="@Url.Content("~/Content/Images/shared/ok1_48x48.gif")" border="0" alt="" />



@if (!String.IsNullOrEmpty(ViewData["messaggio"].ToString()))
{
    <div>
        @(new HtmlString(ViewData["messaggio"].ToString()))
    </div>
}


<br />


<a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Torna alla home</a>
<a class="btn btn-secondary" href="@Url.Action("Login", "Account")">Torna alla pagina di login</a>
<a class="btn btn-secondary" href="@Url.Action("Index", "Immobiliare")">Torna alla pagina di ricerca</a>

