@model MyWebApplication.Areas.Admin.Models.MyUserImmobiliareModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdminMobile.cshtml";
}

<h2>Details: @Model.Utente.userId</h2>

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-a">Login:</div>
        <div class="ui-bar ui-bar-a">Nome:</div>
        <div class="ui-bar ui-bar-a">Cognome:</div>
        <div class="ui-bar ui-bar-a">Email:</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.login)</div>
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.nome)</div>
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.cognome)</div>
        <div class="ui-bar ui-bar-c"><a data-role="none"  href="mailto:@Model.Utente.email">@Model.Utente.email</a></div>
    </div>
</div>

<br />

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-a">External Id:</div>
        <div class="ui-bar ui-bar-a">Source ID:</div>
        <div class="ui-bar ui-bar-a">Data Stato:</div>
        <div class="ui-bar ui-bar-a">Stato ID:</div>
        <div class="ui-bar ui-bar-a">Nota:</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.externalId)</div>
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.sourceId.ToString())</div>
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.dateStato)</div>
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.statoId.ToString())</div>
        <div class="ui-bar ui-bar-c">@MyHelper.decodeNull(Model.Utente.nota)</div>
    </div>
</div>


<h3>Numero di annunci by Stato</h3>
<ul data-role="listview" data-count-theme="b" data-inset="true">
@foreach (MyManagerCSharp.AnnuncioManager.StatoAnnuncio k in Model.ContaAnnunciByStato.Keys)
{
    <li>@k.ToString().Replace("_", " ") <span class="ui-li-count">@Model.ContaAnnunciByStato[k]</span></li>
}
</ul>

<h3>Numero di trattative by Stato</h3>
<ul data-role="listview" data-count-theme="b" data-inset="true">
@foreach (MyManagerCSharp.TrattativaManager.StatoTrattativa k in Model.ContaTrattativeByStato.Keys)
{
    <li>@k.ToString().Replace("_", " ") <span class="ui-li-count">@Model.ContaTrattativeByStato[k]</span></li>
}
</ul>

<div data-role="controlgrup" data-type="horizontal" data-mini="true">
    <a href="@Url.Action("Users", "Immobiliare")" class="ui-btn-inline ui-btn ui-corner-all">Torna alla lista</a>
    <a href="@Url.Action("Edit", "Immobiliare", new { id = Model.Utente.userId })" class="ui-btn ui-icon-edit ui-btn-icon-left ui-btn-inline ui-corner-all">Modifica</a>
    <a href="@Url.Action("Details", "Users", new { id = Model.Utente.userId })" class="ui-btn ui-icon-info ui-btn-icon-left ui-btn-inline ui-corner-all">More info</a>
</div>

