@model MyWebApplication.Models.ManageModel
@{
    ViewBag.Title = "Cerco Vendo Casa: Il mio profilo";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Il tuo profilo</h2>
<p>Benvenuto, @Model.NomeCognome</p>
@{
    if (Model.datePreviousLogin != null)
    {
        <p>
            il tuo ultimo accesso è del @Model.datePreviousLogin.Value.ToShortDateString() alle ore @Model.datePreviousLogin.Value.ToShortTimeString()
        </p>

    }
}

<p><a class="btn btn-secondary" href="@Url.Action("ChangePassword", "Account")"><i class="fa fa-key fa-fw"></i> Modifica password</a></p>
<p><a class="btn btn-secondary" href="@Url.Action("ResetPassword", "Account")"><i class="fa fa-key fa-fw"></i> Reset password</a></p>




<h2>Cambia immagine del tuo profilo</h2>


<img src="@Url.Content(Model.pathImageProfile)">

<br />

<button type="button" class="btn btn-secondary"> <i class="fa fa-trash fa-fw"></i> Rimuovi immagine</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeImageProfile"> <i class="fa fa-edit fa-fw"></i> Carica foto</button>


<div class="modal fade" id="changeImageProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carica una foto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Scegli un'immagine da associare al tuo account.
                    Le immagini con dimensione maggiore di 80x80(WxH) verranno automaticamente ridimensionate.
                </p>
                @using (Html.BeginForm("Upload", "Account", FormMethod.Post, new { id = "MyForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <label for="file">File:</label>
                    <input type="file" name="file" id="file" value="">
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>

</div>